.footer {
  color: #ffffff;
  font-family: "Inter";
  margin: 90px 42.42% 0;
  padding-bottom: 24px;
  max-width: 20%;
}

.footer__copyright {
  margin: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  max-width: 100%;
  text-align: center;
}
