.lead {
  display: flex;
  flex-direction: column;
  margin: 91px 11.56% 0;
  max-width: 76.875%;
}

.lead__title {
  margin: auto;
  padding: 0 13.42%;
  text-align: center;
  max-width: 73.17%;
  font-weight: 900;
  font-size: 96px;
}

.lead__subtitle {
  margin: 3.25% 0 0 0;
  padding: 0 13.42%;
  max-width: 73.17%;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.lead-image {
  margin: 64px 11.5625% 0;
  max-width: 76.875%;
}

.lead-image__photo {
  height: 62.5%;
  box-shadow: 10px 10px 25px 0px #00000080;
}
